logs/*
.classpath
bin
.settings
target
conf
.project
*.idea
logs/*
/.metadata/
target
bin
logs
.settings
.classpath
.project
.mvn
conf
*.gradle
mvnw
*.cmd
*.bat
gradlew
*.iml
*.DS_Store
*.sh
*.vscode
.sonarlint
/.recommenders/

AdminService/.factorypath
.csv
